/* You can add global styles to this file, and also import other style files */

@import './app/styles/main';
@import '~@mdi/font/css/materialdesignicons.css';
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body {
    margin: 0;
}

.btn-primary {
    color: #fff;
    background-color: $primary-orange !important;
    border-color: $primary-orange !important;
}
